body {
  margin: 0;
  }

h1 {
  background-color: pink;
  font-family: Georgia;
  padding: 1em 2em 3em 0.5em;
  /* top right bottom left */
  margin: 0 1em;
  /* top/bottom left/right */
  border: 5px solid hotpink;
  border-radius: 10px;
}

a {
  background-color: limegreen;
  display: block;
}

nav {
  background-color: hotpink;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: lightpink;
  color: white;
  text-decoration: none;
}
